
@{
    ViewData["Title"] = "Index";
}

<!-- Resume Section -->
<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Passionate .NET Developer with expertise in building scalable web applications and solving complex problems. Dedicated to delivering clean, efficient code and innovative solutions. Let’s turn ideas into reality! .</p>
    </div>
    <!-- End Section Title -->

    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Sumary</h3>

                <div class="resume-item pb-0">
                    <h4>Renad Alshooni</h4>
                    <p><em>Innovative and deadline-driven Backend Developer with 1+ years of experience designing and developing responsive web applications and developing robust back-end logic.</em></p>
                    <ul>
                        <li>Tanta ,Egypt</li>
                        <li>011 2841 1383</li>
                        <li>renadalshooni@gmail.com</li>
                    </ul>
                </div>
                <!-- End Resume Item -->

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bachelor's Degree in [Computer Science]</h4>
                    <h5>2022-2026</h5>
                    <p><em>Faculty of Computer Science and Informatics</em></p>
                    <p>Completed coursework in software engineering, databases, OOP, and web technologies</p>
                </div>
                <!-- End Resume Item -->

                <div class="resume-item">
                    <h4>Competitive Programmer</h4>
                    <h5>proudly participated in ECPC (Egyptian Collegiate Programming Contest) 2024 </h5>
                    <p><em>Gained the 6th place over Tanta and 118 over the 2 Day .</em></p>
                    <p>It was an incredible opportunity to sharpen my problem-solving skills, think under pressure, and collaborate effectively in a team setting</p>
                </div>
                <!-- End Resume Item -->

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title"> Internships</h3>
                <div class="resume-item">
                    <h4>Digital Egypt Pioneers Initiative (DEPI) – Ministry of Communications & Information Technology</h4>
                    <h5>(2024 - 2025)</h5>
                    <p><em>Tanta,Egypt </em></p>
                    <ul>
                        <li>Built multiple full-stack web applications using ASP.NET Core, Entity Framework, and Razor Pages.</li>
                        <li>Worked with real-world use cases including booking systems, e-commerce solutions, and data-driven platforms.</li>
                        <li>Gained experience in software development life cycle (SDLC), especially the incremental development model.</li>
                        <li>Attended workshops on soft skills, teamwork, problem-solving, and agile methodology.</li>
                    </ul>
                </div>
                <!-- End Resume Item -->

                <div class="resume-item">
                    <h4>ALX AI Tools Program</h4>
                    <h5>6 weeks - 2024</h5>
                    <p><em>How to integrate AI into everyday workflows </em></p>
                    <ul>
                        <li>successfully completed the ALX AI Tools Program, a hands-on learning experience designed to introduce the power of artificial intelligence in solving real-world problems</li>
                        <li>Managed up to +8 projects or tasks at a given time while under pressure</li>
                        <li>worked on practical projects using AI tools for content creation, data analysis, automation, and decision-making</li>
                    </ul>
                </div>
                <!-- End Resume Item -->

            </div>

        </div>

    </div>

</section>
<!-- /Resume Section -->

