@{
    ViewData["Title"] = "Home Page";
}

<main class="main">
    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <div class="hero-image" style="
            background-image: url('assets/img/testimonials/MyPhoto.jpeg');
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100vh; 
            margin: 0;
            border-radius: 5px;
        ">
        </div>
       

        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <h2>Renad Alshooni</h2>
                    <p>
                        I'm <span class="typed" data-typed-items="Backend .NET Developer, Freelancer,Competitive Programmer"></span>
                        <span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span>
                    </p>
                    <div class="social-links">
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="www.linkedin.com/in/renad-alshooni-3a05792a6"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Hero Section -->
</main>